<%- include("partials/header") %>

<div class="container">
  <h1>Week <%= foundAnswers.week %> :</h1>
  <hr />
  <section class="main-div-home">
    <main>
      <!-- home-glass -->
      <div id="nptelWeekAnswer">
        <div class="nptel_answer mb-2">
          <div class="nptelQ"><h4><%= foundAnswers.question_1 %></h4></div>
          <div class="nptelA"><h5><%= foundAnswers.answer_1 %></h5></div>
        </div>

        <div class="nptel_answer mb-2">
          <div class="nptelQ"><h4><%= foundAnswers.question_2 %></h4></div>
          <div class="nptelA"><h5><%= foundAnswers.answer_2 %></h5></div>
        </div>

        <div class="nptel_answer mb-2">
          <div class="nptelQ"><h4><%= foundAnswers.question_3 %></h4></div>
          <div class="nptelA"><h5><%= foundAnswers.answer_3 %></h5></div>
        </div>

        <div class="nptel_answer mb-2">
          <div class="nptelQ"><h4><%= foundAnswers.question_4 %></h4></div>
          <div class="nptelA"><h5><%= foundAnswers.answer_4 %></h5></div>
        </div>

        <div class="nptel_answer mb-2">
          <div class="nptelQ"><h4><%= foundAnswers.question_5 %></h4></div>
          <div class="nptelA"><h5><%= foundAnswers.answer_5 %></h5></div>
        </div>

        <div class="nptel_answer mb-2">
          <div class="nptelQ"><h4><%= foundAnswers.question_6 %></h4></div>
          <div class="nptelA"><h5><%= foundAnswers.answer_6 %></h5></div>
        </div>

        <div class="nptel_answer mb-2">
          <div class="nptelQ"><h4><%= foundAnswers.question_7 %></h4></div>
          <div class="nptelA"><h5><%= foundAnswers.answer_7 %></h5></div>
        </div>

        <div class="nptel_answer mb-2">
          <div class="nptelQ"><h4><%= foundAnswers.question_8 %></h4></div>
          <div class="nptelA"><h5><%= foundAnswers.answer_8 %></h5></div>
        </div>

        <div class="nptel_answer mb-2">
          <div class="nptelQ"><h4><%= foundAnswers.question_9 %></h4></div>
          <div class="nptelA"><h5><%= foundAnswers.answer_9 %></h5></div>
        </div>

        <div class="nptel_answer mb-2">
          <div class="nptelQ"><h4><%= foundAnswers.question_10 %></h4></div>
          <div class="nptelA"><h5><%= foundAnswers.answer_10 %></h5></div>
        </div>
      </div>
    </main>
  </section>
</div>
<%- include("partials/footer") %>
